td.and {
    white-space: nowrap;
}

td label {
    display: inline;
}

form {
    overflow: auto;
}

code {
    white-space: normal;
    word-wrap: break-word
}

.control-inline-group{
    display: block;
    margin-bottom: 5px;
}

.crontab-div {
    padding-top: 5px;
}

.mb0 {
    margin-bottom: 0 !important;
}
