td.and {
    white-space: nowrap;
}

td label {
    display: inline;
}

form {
    overflow: auto;
}

code {
    white-space: normal;
    word-wrap: break-word
}

.control-inline-group{
    margin-bottom: 5px;
}

.control-inline-group .form-control{
    width: 84%;
    display: inline-block;
}

.crontab-div {
    padding-top: 5px;
}

.mb0 {
    margin-bottom: 0 !important;
}

@media print {
    body {
        height: auto !important;
    }	
}
