td.and {
    white-space: nowrap;
}

td label {
    display: inline;
}

form {
    overflow: auto;
}

code {
    white-space: normal;
    word-wrap: break-word
}

.controls .senders:not(:last-of-type) {
    display: block !important;
    margin-bottom: 5px !important;
}